<!DOCTYPE html>
<html lang="en">
{%load static%}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{%static '/css/bootstrap.css'%}">
  <title>Document</title>
  <script src='https://cdn.scaledrone.com/scaledrone.min.js' type='text/javascript'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <style>
    video {
      max-width: calc(50%);
      box-sizing: border-box;
      border-radius: 2px;
      padding: 0;
      box-shadow: rgba(156, 172, 172, 0.2) 0px 2px 2px, rgba(156, 172, 172, 0.2) 0px 4px 4px, rgba(156, 172, 172, 0.2) 0px 8px 8px, rgba(156, 172, 172, 0.2) 0px 16px 16px, rgba(156, 172, 172, 0.2) 0px 32px 32px, rgba(156, 172, 172, 0.2) 0px 64px 64px;
    }

    .copy {
      position: fixed;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 16px;
      color: rgba(0, 0, 0, 0.5);
    }

    input[type=radio] {
      border: 0px;
      width: 100%;
      height: 1em;
    }
  </style>

</head>

<body class="text-center">
  <!-- As a heading -->
  <nav class="navbar navbar-light bg-light text-center">
    <span class="navbar-brand mb-0 h1"><img src="{%static '/images/logo.png'%}" width="100%" alt=""></span>
  </nav>
  <div class="row">
    <div class="com-md-6"> <video id="localVideo" autoplay muted></video></div>
    <div class="com-md-6"> <video id="remoteVideo" autoplay></video></div>
  </div>




  <!-- RECORD CALL -->
  <div class="" style="display: inline-block;">
    <center>
      <button class="btn btn-danger" onclick="location.href='{%url 'index'%}'">End Call</button>
    </center>
    <button id="start">
      Start Recording
    </button>
    <button id="stop" disabled>
      Stop Recording
    </button>
    <button disabled>
      <a id="dwd" download="recording">
        Download
      </a>
    </button>
    <br>
    <video id="videoPlayer" autoplay></video>
  </div><br>
  <div class="container text-left">
    <div class="card mx-auto" style="width:70%;">
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-6">
              <h6> </h6>
            </div>
            <div class="col-md text-center">
              <h6>Yes</h6>
            </div>
            <div class="col-md text-center">
              <h6>No</h6>
            </div>
            <div class="col-md-3  ">
              <h6>IF YES, please give details </h6>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h6>1. Any disorders suffering by the immediate family members like cancer, diabetes, heart diseases and
                any hereditary disorders </h6>
            </div>
            <div class="col">
              <input type="radio" name="radio1" class="form-control">

            </div>
            <div class="col">
              <input type="radio" name="radio1" class="form-control">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control">


            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h6>2. Please confirm if your medical condition has undergone any adverse changes prior to signing the proposal for insurance?  </h6>
            </div>
            <div class="col">
              <input type="radio" name="radio2" class="form-control">

            </div>
            <div class="col">
              <input type="radio" name="radio2" class="form-control">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control">


            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h6>3. Have you been off routine activities due to illness for a continuous period of more than 10 days in last 1 year?</h6>
            </div>
            <div class="col">
              <input type="radio" name="radio3" class="form-control">

            </div>
            <div class="col">
              <input type="radio" name="radio3" class="form-control">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control">


            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h6>4. 
                In the last 5 years have you  consulted any medical practitioner for any health issue 
                </h6>
            </div>
            <div class="col">
              <input type="radio" name="radio4" class="form-control">

            </div>
            <div class="col">
              <input type="radio" name="radio4" class="form-control">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control">


            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h6>5. Has there been drastic weight loss or gain (>=5 Kg) in the past one year  </h6>
            </div>
            <div class="col">
              <input type="radio" name="radio5" class="form-control">

            </div>
            <div class="col">
              <input type="radio" name="radio5" class="form-control">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control">


            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h6>6. Has any proposal for life and health Insurance ever been cancel and reject any other company? </h6>
            </div>
            <div class="col">
              <input type="radio" name="radio6" class="form-control">

            </div>
            <div class="col">
              <input type="radio" name="radio6" class="form-control">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control">


            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h6>7. Height </h6>
            </div>
            <div class="col">
              <input type="radio" name="radio7" class="form-control">

            </div>
            <div class="col">
              <input type="radio" name="radio7" class="form-control">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control">


            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h6>8. Weight  </h6>
            </div>
            <div class="col">
              <input type="radio" name="radio8" class="form-control">

            </div>
            <div class="col">
              <input type="radio" name="radio8" class="form-control">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control">


            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h6>9. Have you attended any general health checkup? If yes, when and how the reports are (normal/any adversity noted)  </h6>
            </div>
            <div class="col">
              <input type="radio" name="radio9" class="form-control">

            </div>
            <div class="col">
              <input type="radio" name="radio9" class="form-control">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control">


            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h6>10. Have you ever suffered any accidents / surgeries?   If yes, month , year and type of surgery/accident  </h6>
            </div>
            <div class="col">
              <input type="radio" name="radio10" class="form-control">

            </div>
            <div class="col">
              <input type="radio" name="radio10" class="form-control">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control">


            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h6>11. Please confirm whether you are physically fit and not handicapped.   </h6>
            </div>
            <div class="col">
              <input type="radio" name="radio11" class="form-control">

            </div>
            <div class="col">
              <input type="radio" name="radio11" class="form-control">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control">


            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h6>12. Are you taking any medicines (regular /occasional) for any health related problem, if yes, name of medicine and dosage, purpose for which it is being taken.   </h6>
            </div>
            <div class="col">
              <input type="radio" name="radio12" class="form-control">

            </div>
            <div class="col">
              <input type="radio" name="radio12" class="form-control">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control">


            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h6>13. Have you started or increased consumption of tobacco, alcohol, narcotics/ drugs which are different than disclosed as part of the proposal form? <br>
                A. Cigarettes/Beedis/Cigar? <br>
              B. Gutka/Snuff/Paan? <br>
            C. Beer/Wine/Hard Liquor?  </h6>
            </div>
            <div class="col">
              <input type="radio" name="radio13" class="form-control">

            </div>
            <div class="col">
              <input type="radio" name="radio13" class="form-control">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control">


            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h6>14. Have you ever been convicted or any charge sheet filed against you any time? </h6>
            </div>
            <div class="col">
              <input type="radio" name="radio14" class="form-control">

            </div>
            <div class="col">
              <input type="radio" name="radio14" class="form-control">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control">


            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h6>15. Are you aware of taking insurance with Shriram life. Did you signed in proposal form – Yes / NO - language</h6>
            </div>
            <div class="col">
              <input type="radio" name="radio15" class="form-control">

            </div>
            <div class="col">
              <input type="radio" name="radio15" class="form-control">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control">


            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h6>16. How you are aware of  Shriram insurance ; object of insurance;   </h6>
            </div>
            <div class="col">
              <input type="radio" name="radio16" class="form-control">

            </div>
            <div class="col">
              <input type="radio" name="radio16" class="form-control">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control">


            </div>
          </div>


        
      </div>
     
    </div>

    </form>
  </div>
  </div>

  </div>

  <script src="{%static '/js/record.js'%}"></script>




  <!-- <script src="{%static '/js/script.js' %}"></script> -->

  <script>
    // Generate random room name if needed
    if (!location.hash) {
      location.hash = Math.floor(Math.random() * 0xFFFFFF).toString(16);
    }
    const roomHash = location.hash.substring(1);
    console.log(">>>>>>><<<<<<<<<", roomHash)

    // TODO: Replace with your own channel ID
    const drone = new ScaleDrone('yiS12Ts5RdNhebyM');
    // Room name needs to be prefixed with 'observable-'
    const roomName = 'observable-' + roomHash;
    const configuration = {
      iceServers: [{
        urls: 'stun:stun.l.google.com:19302'
      }]
    };
    let room;
    let pc;


    function onSuccess() {};

    function onError(error) {
      console.error(error);
    };

    drone.on('open', error => {
      if (error) {
        return console.error(error);
      }
      room = drone.subscribe(roomName);
      room.on('open', error => {
        if (error) {
          onError(error);
        }
      });
      // We're connected to the room and received an array of 'members'
      // connected to the room (including us). Signaling server is ready.
      room.on('members', members => {
        console.log('MEMBERS', members);
        // console.log('>>>>>>>>>>>>>>>>>'+members[0].id);
        if (members.length <= 1) {
          alert("Share code: " + roomHash);
        }
        if (members.length >= 3) {
          return alert('The room is full');
        }
        $.ajax({
          url: "{%url 'link'%}",
          data: {
            'counter': roomHash
          },
          type: 'POST'
        }).done(function (response) {
          console.log(response);
        });

        
        // If we are the second user to connect to the room we will be creating the offer
        const isOfferer = members.length === 2;
        startWebRTC(isOfferer);
      });
    });

    // Send signaling data via Scaledrone
    function sendMessage(message) {
      drone.publish({
        room: roomName,
        message
      });
    }

    function startWebRTC(isOfferer) {
      pc = new RTCPeerConnection(configuration);

      // 'onicecandidate' notifies us whenever an ICE agent needs to deliver a
      // message to the other peer through the signaling server
      pc.onicecandidate = event => {
        if (event.candidate) {
          sendMessage({
            'candidate': event.candidate
          });
        }
      };

      // If user is offerer let the 'negotiationneeded' event create the offer
      if (isOfferer) {
        pc.onnegotiationneeded = () => {
          pc.createOffer().then(localDescCreated).catch(onError);
        }
      }

      // When a remote stream arrives display it in the #remoteVideo element
      pc.ontrack = event => {
        const stream = event.streams[0];
        if (!remoteVideo.srcObject || remoteVideo.srcObject.id !== stream.id) {
          remoteVideo.srcObject = stream;
        }
      };

      navigator.mediaDevices.getUserMedia({
        audio: true,
        video: true,
      }).then(stream => {
        // Display your local video in #localVideo element
        localVideo.srcObject = stream;
        // Add your stream to be sent to the conneting peer
        stream.getTracks().forEach(track => pc.addTrack(track, stream));
      }, onError);

      // Listen to signaling data from Scaledrone
      room.on('data', (message, client) => {
        // Message was sent by us
        if (client.id === drone.clientId) {
          return;
        }

        if (message.sdp) {
          // This is called after receiving an offer or answer from another peer
          pc.setRemoteDescription(new RTCSessionDescription(message.sdp), () => {
            // When receiving an offer lets answer it
            if (pc.remoteDescription.type === 'offer') {
              pc.createAnswer().then(localDescCreated).catch(onError);
            }
          }, onError);
        } else if (message.candidate) {
          // Add the new ICE candidate to our connections remote description
          pc.addIceCandidate(
            new RTCIceCandidate(message.candidate), onSuccess, onError
          );
        }
      });
    }

    function localDescCreated(desc) {
      pc.setLocalDescription(
        desc,
        () => sendMessage({
          'sdp': pc.localDescription
        }),
        onError
      );
    }
  </script>
</body>
<script src="https://www.webrtc-experiment.com/common.js"></script>

</html>