<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{%static '/css/bootstrap.css'%}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>Document</title>

</head>
{%if message %}
<script>
  alert("{{message}}");
</script>
{%endif%}

<body class="text-center">

  <button class="btn btn-danger" onclick="location.href='{%url 'call' %}'">Create Room</button>
  <button class="btn btn-danger" onclick="jointoggle()">Join Room</button>
  <div id="mydiv" style="display: none;">
    <form action="{%url 'check'%}" method="post">
      {% csrf_token %}
      <!-- <input type="text" id="input">
      <button type="submit" id="button">submit</button> -->
      <input type="text" id="input" name="in">
      <button type="submit" id="mybutton" >Join</button>
    </form>
  </div>
  <script>
    function jointoggle() {
      var x = document.getElementById("mydiv");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
  </script>

</body>

</html>